replicaCount: 1
env:
  FLUXNOVA_HOST: "fluxnova.example.com"
  HTTP_MODE: "http" # https or http
  TLS_SECRET: ""
image:
  name: ghcr.io/finos/fluxnova-bpm-platform
  tag: 0.0.1-SNAPSHOT
  pullPolicy: Always

imagePullSecrets:
  - name: ghcr-secret
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  "keel.sh/policy": "force"
  "keel.sh/trigger": "poll"
  "keel.sh/pollSchedule": "@every 10m"

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
